body {
    box-sizing: border-box;
    background-color: #E0ECFF;
}

section, 
header {
    width: 100%;
    max-width: 128rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}