// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$ff-primary: 'Montserrat', sans-serif;

// colors

$white: #f4f4f4;
$black: #000;

$primary: #2477ff;
$secondary: #0060f9;

$gray-100: #ebebeb;
$gray-200: #E1e1e1;
$gray-300: #d2d2d2;
$gray-400: #a5a5a5;
$gray-500: #797979;
$gray-600: #3d3d3d;
$gray-700: #2f2f2f;
$gray-800: #212121;

$blue-100: #eff5ff;
$blue-200: #d5e3ff;
$blue-300: #bad0ff;
$blue-400: #9ebdff;
$blue-500: #82aaff;
$blue-600: #598dff;
$blue-700: #4b84ff;
$blue-800: #2477ff;

$red-100: #fff0f0;
$red-200: #ffc3c3;
$red-300: #ffa5a5;
$red-400: #ff7979;
$red-500: #ff6a6a;
$red-600: #ff5b5b;
$red-700: #ff4c4c;
$red-800: #ff3737;