// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

$ff-primary: 'Montserrat', sans-serif;
$ff-s: 'Arvo', serif;
// colors

$white: #f4f4f4;
$black: #000;

$gray-100: #ebebeb;
$gray-200: #E1e1e1;
$gray-300: #d2d2d2;
$gray-400: #a5a5a5;
$gray-500: #797979;
$gray-600: #3d3d3d;
$gray-700: #2f2f2f;
$gray-800: #212121;

$p-100: #CCF6FF;
$p-200: #99E7FF;
$p-300: #66D3FF;
$p-400: #3FBCFF;
$p-500: #0098FF;
$p-600: #0075DB;
$p-700: #0057B7;
$p-800: #003E93;
$p-900: #002C7A;

$s-100: #FEE4D5;
$s-200: #FDC3AD;
$s-300: #FB9A83;
$s-400: #F77364;
$s-500: #F33532;
$s-600: #D02430;
$s-700: #AE1930;
$s-800: #8C0F2E;
$s-900: #74092C;
