// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$ff-primary: 'Montserrat', sans-serif;

// colors

$white: #f4f4f4;
$black: #000;

$gray-100: #ebebeb;
$gray-200: #E1e1e1;
$gray-300: #d2d2d2;
$gray-400: #a5a5a5;
$gray-500: #797979;
$gray-600: #3d3d3d;
$gray-700: #2f2f2f;
$gray-800: #212121;

$cream-100: #faefdd;
$cream-200: #f5ddbd;
$cream-300: #e1bb95;
$cream-400: #c39570;
$cream-500: #9c6644;
$cream-600: #864d31;
$cream-700: #703722;
$cream-800: #5a2315;
$cream-900: #4a160d;

$p-100: #D1FBF8;
$p-200: #A6F7F7;
$p-300: #75E0E8;
$p-400: #50BFD2;
$p-500: #2094B4;
$p-600: #17749A;
$p-700: #105881;
$p-800: #0A3F68;
$p-900: #062D56;

$p2-100: #F7FCE5;
$p2-200: #EFFACD;
$p2-300: #DFF1B0;
$p2-400: #CBE396;
$p2-500: #B0D173;
$p2-600: #8EB354;
$p2-700: #6F9639;
$p2-800: #527924;
$p2-900: #3D6416;

$s-100: #FDE0D5;
$s-200: #FCBAAC;
$s-300: #F68B81;
$s-400: #EE6061;
$s-500: #E32F40;
$s-600: #C32240;
$s-700: #A3173E;
$s-800: #830E39;
$s-900: #830E39;

$s2-100: #FBE1DC;
$s2-200: #F7BFBB;
$s2-300: #E89395;
$s2-400: #D2717D;
$s2-500: #B4465E;
$s2-600: #9A3353;
$s2-700: #812349;
$s2-800: #68163F;
$s2-900: #560D39;