@-webkit-keyframes Color {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes Color {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes Color {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

.animatedFill {
    background: linear-gradient(45deg, $p2-500 0%, $p-500 100%);
    background-size: 1000% 1000%;
    -webkit-animation: Color 5s ease infinite;
    -moz-animation: Color 5s ease infinite;
    animation: Color 5s ease infinite;
}

.imageFilter {
    background: linear-gradient(240deg, rgba(30, 115, 180, 0.2) 25%, rgba(4, 29, 53, 0.2) 100%),
                linear-gradient(180deg, rgba(3, 26, 39, 0.4) 25%, rgba(10, 55, 73, 0.2) 100%);
}