/* The emerging W3C standard
   that is currently Firefox-only */
* {
    scrollbar-width: thin;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #1d1d1d;
    border-radius: .5rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, body {
    font-size: 62.5%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    width: 100vw;
    min-height: 100vh;
    
    position: relative;
    background: rgb(213,218,223);
    background: linear-gradient(45deg, #DFEDF4 0%, #C2D4E0 50%, #DFEDF4 100%);
}

button {
    border: none;
    text-decoration: none;
}