body, html {
    box-sizing: border-box;
    background-color: #E0ECFF;
}

.site {
    width: 100vw;
    position: relative;
    overflow-x: hidden !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}