.site {
    width: 100%;
    font-family: $ff-primary;
    overflow-x: hidden !important;
    background: linear-gradient(215deg, rgba(254,253,248,1) 0%, rgba(255,249,240,1) 100%);
}

button {
    border: none;
    display: none;
    text-decoration: none;
}